body svg {
  color: var(--color-secundary);
  font-size: 24px;
}

body svg:hover {
  transform: scale(1.2);
}

.header-content:link, .header-content:visited {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
}

header h1 {
  flex: 1;
  color: var(--color-primary);
  font-size: medium;
  margin-left: 20px;
}


.sub-title h3 {
  flex: 1;
  font-weight: 400;
  color: var( --color-text);
  font-size: small;
}
  
.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  row-gap: 0.01rem;
}

.menu-cards:link, .menu-cards:visited {
  text-decoration: none;
}

.items-grid li {
  margin-top: 30px;
  background-color: var(--background-color);
  border-radius: 15px;
  list-style-type: none;
    
  padding: 16px 15px 15px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  text-align: center;
  cursor: pointer;
  box-shadow: 0.3rem 0.3rem 2rem 0.3rem rgba(0, 0, 0, 0.2);
}
  
.items-grid li:hover {
  transform: scale(1.05);
}

.items-grid li span {
  width: 100%;
  margin-top: 12px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  color: var(--color-primary);
  font-weight: 700;
  font-size: small;
  text-decoration: none;
}

.items-grid li svg,
.items-grid li span {
    pointer-events: none;
    text-decoration: none;
}
  