:root {
  font-size: 62.5%;

  --color-background: #f9f9f9;
  --color-primary-light: #ecf8f8;
  --color-primary: #316094;
  --color-primary-light: #5d92cc;
  --color-secundary: #fa7268;
  --color-secundary-light: #913018;
  --color-subtitle-complement: #616161;
  --color-text: #3a3838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Rubik', 'Space Grotesk', sans-serif;
  font-weight: 400;
  background: var(--color-background);
  color: var(--color-title);
  padding: 3rem;
}

#root {
  text-align: center;
}
