
body svg {
  color: var(--color-secundary);
  font-size: 24px;
}

body svg:hover {
  transform: scale(1.2);
}

body h3 {
  text-align: left;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
}

header h1 {
  flex: 1;
  color: var(--color-primary);
  font-size: medium;
  margin-left: 20px;
}

h3 {
  font-weight: 400;
  color: var(--color-subtitle-complement)
}

h3 strong {
  color: var(--color-text);
  font-weight: 700;
}

.sub-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.sub-title h2 {
  color: var(--color-primary);
}

.sub-title hr {
  width: 300px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.section-1 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.section-1 h1{
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  font-size: small;
  font-weight: 400;
  color: var(--color-subtitle-complement);
}

.description-box {
  margin-top: 10px;
  text-align: left;
  border-radius: 5px;
  padding: 16px 15px 25px 16px;
  box-shadow: 0.3rem 0.3rem 2rem 0.3rem rgba(0, 0, 0, 0.2);
}

.description-box p{
  color: var(--color-text);
  font-size: small;
}

.select-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px 15px 10px 16px;
  box-shadow: 0.3rem 0.3rem 2rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.select-box p {
  color: var(--color-primary);
  font-size: small;
}

.select-box:hover {
  transform: scale(1.05);
}

.select-operation {
  background: var(--color-background);
  width: 100%;
  border-radius: 5px;
  border: 0;
  padding: 15px 10px 15px 16px;
  box-shadow: 0.3rem 0.3rem 2rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  cursor: pointer;
  color: var(--color-primary);
}

.select-operation option {
  color: var(--color-primary);
  background-color: var(--color-background);
  border: 0;
}

.select-operation:focus {
  border-color: none;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.date-picker {
  background: var(--color-background);
  border-radius: 5px;
  border: 0;
  padding: 15px 10px 15px 16px;
  box-shadow: 0.3rem 0.3rem 2rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  cursor: pointer;
  color: var(--color-primary);
}

.attachment-container {
  margin-top: 25px;
  text-align: left;
}

.attachment-container h1 {
  font-size: small;
  font-weight: 400;
  color: var(--color-subtitle-complement);
}

.amount-content {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount-content h1 {
  font-weight: bold;
  color: var(--color-primary);
  font-size: medium;
}

.amount-box {
  background: var(--color-background);
  border-radius: 15px;
  border: 0;
  padding: 10px 30px 10px 30px;
  box-shadow: 0.3rem 0.3rem 2rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.amount-box {
  color: var(--color-primary);
  font-size: small;
  font-weight: bold;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  row-gap: 0.01rem;
}

.items-grid li {
  margin-top: 15px;
  background-color: var(--background-color);
  border-radius: 15px;
  list-style-type: none;
  height: 90px;

  padding: 16px 15px 15px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  text-align: center;
  cursor: pointer;
  box-shadow: 0.3rem 0.3rem 2rem 0.3rem rgba(0, 0, 0, 0.2);
}

.items-grid li:hover {
  transform: scale(1.05);
}

.items-grid li span {
    width: 100%;
    margin-top: 12px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    color: var(--color-primary);
    font-weight: 700;
    font-size: small;
}

.items-grid li svg,
.items-grid li span {
    pointer-events: none;
}

.table-nav {
  /* width: 100%; */
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-spacing: 10px 15px;
}

thead th {
  color: var(--color-primary);
  font-size: small;
  text-align: left;
  padding: 12px;
}

tbody td {
  padding: 12px;
}

tbody tr {
  background: var(--color-background);
  border-radius: 5px;
  /* border: 0; */
  padding: 5px 5px 5px 10px;
  box-shadow: 0.3rem 0.3rem 2rem 0.3rem rgba(0, 0, 0, 0.2);
}

.delete-row {
  display: flex;
  align-items: center;
}

.delete-row strong {
  margin-left: 10px;
  font-size: small;
  font-weight: 400;
  text-align: left;
}

.delete-row button {
  background-color: var(--color-background);
  border: 0;
}

.add-new-row button{
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--color-background);
  border-radius: 15px;
  border: 0;
  padding: 5px 10px 5px 10px;
  box-shadow: 0.3rem 0.3rem 2rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  cursor: pointer;
}

.plan-amount {
  margin-top: 25px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--color-background);
  border-radius: 15px;
  border: 0;
  padding: 15px 10px 15px 10px;
  box-shadow: 0.3rem 0.3rem 2rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.plan-amount p {
  font-size: small;
}

.plan-value {
  color: var(--color-primary);
}